@{
  Layout = "_Layout";
}

@using RecipeBox.Models

  <div class="container">
    <h3>Recipes</h3>
    @if (Model["Recipes"].Length == 0)
    {
      <p>There are no Recipes in the database.</p>
    }
    <ul>
      @foreach (Recipe recipe in Model["Recipes"])
      {
        <li>@Html.ActionLink(@recipe.RecipeName, "Details", "Recipes", new { id = @recipe.RecipeId })</li>
      }
    </ul>
  </div>

  <div class="container">
    <h3>Tags</h3>
    @if (Model["Tags"].Length == 0)
    {
      <p>There are no Tags in the database.</p>
    }
    <ul>
      @foreach (Tag tag in Model["Tags"])
      {
        <li>@Html.ActionLink(@tag.TagName, "Details", "Tags", new { id = @tag.TagId })</li>
      }
    </ul>
  </div>