@{
  Layout = "_Layout";
}

@using RecipeBox.Models

  <h2>Add a Recipe</h2>

  <h3>Add a Recipe to this Tag: @Html.DisplayFor(model => model.TagName)</h3>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TagId)

      @Html.Label("Select an engineer:")
      @Html.DropDownList("TagId")

    <input type="submit" value="Add Recipe" class="btn btn-primary" />
  }

    @Html.ActionLink("Back to List", "Index")